@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        scroll-behavior: smooth;
    }
    body,
    p {
        @apply font-jost;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-lemon font-medium uppercase;
    }
    #engineering input {
        @apply py-2 mb-2 shadow-afp rounded-sm focus:!border-yellow focus:border-[1px] focus:bg-white-true checked:bg-black focus:shadow-btn border-none bg-white;
    }
    #engineering label {
        @apply text-grey-light pl-1 border-none;
    }
}

@layer components {
    body#maintenance {
        height: 100vh;
    }
    .active {
        @apply !text-white font-bold;
    }
    .t-inner-shadow {
        @apply bg-black text-transparent;
        /* text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.25); */
        text-shadow: -2px 2px 3px rgba(237, 235, 232, 0.85);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .swiper {
        @apply !mr-0 !ml-0;
    }
}

#projects-swiper .swiper-slide {
    @apply bg-transparent;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-t {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-thumb-big {
    height: 80%;
    width: 100%;
}

.swiper-thumb {
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-thumb .swiper-slide {
    @apply overflow-hidden;
    opacity: 0.4;
}

.swiper-thumb .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-thumb .swiper-slide,
.swiper-thumb .swiper-slide img {
    @apply w-full rounded-md;
}

.swiper-thumb-big .swiper-slide img {
    @apply w-full lg:w-full h-full lg:h-[80%] rounded-md;
    display: block;
    object-fit: cover;
}

/* ------------------- Swiper steps */
.swiper-pagination-bullet {
    @apply text-grey-light !bg-transparent !w-fit !h-full !opacity-100;
}

.swiper-pagination-bullet-active {
    @apply !text-white font-bold !bg-transparent;
}
