@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    p {
        @apply font-jost;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-lemon font-medium uppercase;
    }
}

@layer components {
    body#maintenance {
        height: 100vh;
    }
    .active {
        @apply !text-white font-bold;
    }
    .t-inner-shadow {
        @apply bg-black text-transparent;
        /* text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.25); */
        text-shadow: -2px 2px 3px rgba(237, 235, 232, 0.85);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .swiper {
        @apply !mr-0 !ml-0;
    }
}

#projects-swiper .swiper-slide {
    @apply bg-transparent;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-t {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-thumb-big {
    height: 80%;
    width: 100%;
}

.swiper-thumb {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-thumb .swiper-slide {
    /* @apply lg:!w-[150px]; */
    height: 100%;
    opacity: 0.4;
}

.swiper-thumb .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-thumb .swiper-slide,
.swiper-thumb .swiper-slide img {
    @apply w-full lg:max-w-[150px] h-full lg:h-auto rounded-md;
}
.swiper-thumb-big .swiper-slide img {
    @apply w-full lg:w-1/2 h-full lg:h-1/2 rounded-md;
    display: block;
    object-fit: cover;
}

/* ------------------- Swiper steps */
.swiper-pagination-bullet {
@apply text-grey-light !bg-transparent !w-fit !h-full !opacity-100;
}

.swiper-pagination-bullet-active {
    @apply !text-white font-bold !bg-transparent;
}
